.addtodos{
    display: flex;
    justify-content: start;
    margin: 50px 250px;
    
}
.addtodos form{
    border: 15px;
    width: 400px;
    border: 1px solid white;
    /* background-image: linear-gradient(45deg, #5b88f1 0%, #e4efe9 100%); */
    
}
/* input[type="text"]{
    text-align: center;
    width: 80%;
} */