.main{
    width: 98%;
   
    margin-top: 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.left{
    /* border: 2px solid red; */
    width: 20%;
    height: 98%;
    color: white;
    backdrop-filter: blur(5px);
    
} 
.right{
    /* border: 2px solid green; */
    /* margin-top: -110px; */
    display: flex;
    justify-content: start;
    /* align-items:flex-start; */
    width: 75%;
    backdrop-filter: blur(5px);
        
} 
.todoss{
    width: 80%;
    height: 35px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    font-size: large;
    background-color:#058665;
    color:white;
    cursor: pointer;
    
}
.todoss:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #03830e;
    color: white;
    /* color: black; */
    
}