
.main{
    width: 98%;  
    margin: auto;     
    display: grid;
    grid-template-columns: 20% 75%;
    align-items: start;
    gap: 10px;
   
}

.left{
    margin-top: 0px;
    /* border: 2px solid blue; */
    height: 500px;
    color: white;
    backdrop-filter: blur(5px);
} 
.right{
    /* border: 2px solid green; */
    backdrop-filter: blur(5px);
    height: 500px;   
}  
.todoss{
    width: 80%;
    height: 35px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    font-size: large;
    background-color:#058665;
    color: white;
    cursor: pointer;
    
}
.todoss:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #03830e;
    color: white;
    /* color: black; */
    
}
.active-button {
  background-color:#03830e ;
  color: white;
}