*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    width: 98%;
    margin: 20px auto;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #058665;
    color: white;
    
    
}

.content{
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: large;
    
}
.content h3{
    color: white;
    
}

#logout{
    background-color: transparent;
    cursor: pointer;
    border: none;
}


@media screen and (max-width: 480px) {
    .content{
        font-size: smaller;
    }
}
